@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
body{
    height: 98vh;
    width: 98vw;
    background: #141e30;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    margin-top: 60px;
    width: 1240px;
    height: 120px;
    background: #243b55;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
header ul{
    width: 1240px;
    height: 120px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
header ul li{
    display: flex;
}
header ul a{    
    display: flex;
    color: #fff;
    font-size: 2em;
    text-decoration: none;
}
.add_todo{
    width: 1000px;
    height: 700px;
    margin: 40px;
    background: #243B55;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.add_todo form div input,textarea{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: none;
}
.add_todo form div:nth-child(1) input{
    width: 620px;
    height: 70px;
}
.add_todo form span div:nth-child(1) input{
    width: 295px;
    height: 70px;
    display: flex;
}
.add_todo form span div:nth-child(2) input{
    width: 295px;
    height: 70px;
}
.add_todo form span{
    display: flex;
}
.add_todo form span div:nth-child(1){
    margin-right: 30px;
}
.add_todo form div p{
    font-size: 28px;
    line-height: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}
.add_todo form div textarea{
    width: 620px;
    height: 230px;
    resize: none;
}
button{
    width: 180px;
    height: 70px;
    background: #03E9F4;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}